@charset "utf-8";
/* CSS Document */
.all{width: 1900px;height: 1900px;
background-color: rgba(21,16,36,1.00);position:cover;
}
.head{width: 100%;height: 100px;
background: rgba(24,26,27,1.00);
}
.second{width: 270px;height: 100px;
	position: absolute; 
}
.font{width: 500px;height: 100px; 
position: absolute; left: 270px; color: #FCFBFB;
}
.third{width: 500px;height: 100px;position: absolute; left: 600px;}
.fon{color: #FCF9F9;
position: absolute;left: 200px; top: 200px;
}
.hr{position: absolute;top:275px; left: 200px;}
.hr1{position: absolute;top: 357px;left: 200px;}
.menu{width: 1485px; height: 70px; 
position: absolute; top: 290px;
left: 200px; float: left;}
.box1{width:220px;height: 70px;position: absolute;left: 40px;}
.box2{width:220px;height: 70px;position: absolute;left: 336.25px;}
.box3{width:220px;height: 70px;position: absolute;left: 632.5px;}
.box4{width:220px;height: 70px;position: absolute;left: 928.75px;}
.box5{width:220px;height: 70px;position: absolute;left: 1234.75px;}
.picture{width:1510px; height:1485px;position:absolute; left:190px;
top: 400px; float: left;
}
.a1{width: 425px; height: 840px; top: 75px; left: 75px;position: absolute; }
.a2{width: 850px; height: 342.5px; top: 75px; right: 75px;position: absolute;}
.a3{width:850px; height: 342.5px; position: absolute; top: 500px; right: 75px;}
.a4{width: 1350px; height: 420px; position: absolute;bottom: 75px; left: 75px;}

















